BETTER_AUTH_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NUXT_PUBLIC_SITE_URL=http://localhost:8787
EMAIL_FROM=SupaPoker <noreply@example.com>
NUXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_VERIFIER_URL=
MAINTENANCE_SECRET=
