BETTER_AUTH_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NUXT_PUBLIC_GITHUB_AUTH_ENABLED=true
NUXT_PUBLIC_SITE_URL=http://localhost:8787
NUXT_HUB_DATABASE_ID=c1fc4e89-5177-47e8-b82b-2d1439d80425
NUXT_HUB_BLOB_BUCKET_NAME=supapoker-avatars
EMAIL_FROM=SupaPoker <noreply@example.com>
